<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
        <title>Testst</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
    </head>
    <body>
        <div>Teststs</div>
        <div>
            <form ng-submit="custCtrl.registerCustomer(customer)" ng-controller="CustomerController as custCtrl">
                Username : <input type="text" name="uname" ng-model="customer.username" required><br>
                First name: <input type="text" name="fname" ng-model="customer.firstName" required><br>
                Last name: <input type="text" name="lname" ng-model="customer.lastName" required><br>
                Password <input type="password" name="pass" ng-model="customer.password" required><br>
                Email Address: <input type="email" name="email" ng-model="customer.emailAddress" required><br>
                Shipping Address: <input type="text" name="ship" ng-model="customer.shippingAddress" required><br>
                <button type="submit">Create Account</button>

            </form>
        </div>
    </body>
</html>

